.container {
  position: relative;
}

.heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 992px) {
  .heading {
    font-size: 2rem;
    margin-block: 2.5rem;
  }
}
