.btnPrimary {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--clr-bg-btn-primary);
  color: var(--clr-text-inversed);
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  text-transform: none;
  font-size: 1.125rem;
}