.btnPrimary,
.iconBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnPrimary {
  gap: 0.5rem;
  background: var(--clr-bg-btn-primary);
  color: var(--clr-text-inversed);
  padding: 0.8rem 1.5rem;
  border-radius: 0.25rem;
  text-transform: none;
  font-size: 1.125rem;
  width: fit-content;

  &:disabled {
    pointer-events: none;
    background-color: var(--clr-bg-btn-disabled);
    color: var(--clr-text-disabled);
  }

  &:active {
    transform: scale(0.98);
  }
}

.sm {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  width: fit-content;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--clr-text-inversed);
}

.iconBtn {
  width: 2.75rem;
  height: 2.75rem;

  svg {
    width: 2rem;
    height: 2rem;
    fill: var(--clr-text-primary);
  }
}

@media (min-width: 992px) {
  .btnPrimary {
    transition: background 0.2s ease;

    &:hover {
      background: var(--clr-accent-pink);
    }
  }
}
