.artistHeader {
  display: grid;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.artistImg {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 999px;
  overflow: hidden;
  border: 1px solid var(--clr-divider);

  img {
    width: 100%;
    object-fit: cover;
  }
}

.artistName {
  font-size: 1.25rem;
  font-weight: 600;
}

.albumTitle {
  font-size: 2.5rem;
}

/* Desktop */
@media (min-width: 992px) {
  .artistHeader {
    gap: 1.5rem;
  }

  .artistImg {
    width: 5rem;
    height: 5rem;
  }

  .artistName {
    font-size: 1.5rem;
  }

  .albumTitle {
    font-size: 3.8rem;
  }
}
