.card {
  display: grid;
  gap: 0.75rem;
}

.coverImage {
  height: 20rem;
  object-fit: cover;
  width: 100%;
}

.albumInfo {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.albumDetails {
  display: grid;
  gap: 0.25rem;
  font-size: 1.125rem;

  h3 {
    font-weight: 600;
    text-transform: capitalize;
  }

  p {
    color: var(--clr-text-secondary);
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 0.325rem;
}

.price {
  font-size: 1.25rem;
  font-weight: 600;
}

.divider {
  font-size: 2rem;
  color: var(--clr-text-secondary);
}

.btnAddToCart {
  display: flex;
  justify-content: center;
  align-items: center;
}
