.filterSidebar {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 1.25rem 1rem 0 1rem;
  background-color: var(--clr-bg-primary);
}

.genreFilter {
  margin-top: 4rem;
}

.genreFilter h3,
.priceFilter h3 {
  margin-bottom: 1.25rem;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: capitalize;
}

.checkboxes {
  display: grid;
  gap: 0.875rem;

  input[type='checkbox'] {
    accent-color: black;
    width: 1.25rem;
    height: 1.25rem;
  }
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.closeBtn {
  position: absolute;
  top: 1.25rem;
  right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.75rem;
  height: 2.75rem;

  svg {
    width: 1.75rem;
    height: 1.75rem;
  }
}

.priceInputs {
  display: grid;
  grid-template-columns: repeat(2, 8rem);
  gap: 0.75rem;

  input {
    background: transparent;
    padding: 0.5rem 0 0.5rem 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid var(--clr-divider);
  }
}

/* Desktop */
@media (min-width: 992px) {
  .filterSidebar {
    min-height: 100%;
    position: initial;
    padding: 0;
    width: fit-content;
    padding-right: 2rem;
    border-right: 1px solid var(--clr-divider);
  }

  .genreFilter {
    margin-top: initial;
  }

  .toggleBtn {
    display: none;
  }
}


