.container {
  position: relative;
  min-height: 50vh;
}

.heading {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.wrapper {
  padding-bottom: 6rem;
}

@media (min-width: 992px) {
  .container {
    min-height: 72vh;
  }

  .heading {
    font-size: 2rem;
    margin-block: 2.5rem;
  }

  .wrapper {
    display: flex;
    gap: 4rem;
  }
}
