.error {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  margin-inline: auto;
  margin-top: 4rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
}

.text {
  font-size: 1.125rem;
  color: var(--clr-text-secondary);
}

@media (min-width: 992px) {
  .title {
    font-size: 1.75rem;
  }
}
