.footer {
  background: #ffffff;
  padding-block: 1.75rem;
}

.logo {
  width: 8.25rem;
}

.footerTop {
  display: grid;
  gap: 1.75rem;
  padding-bottom: 1.75rem;
  border-bottom: 1px solid #cdcdcd;
}

.footerNav {
  display: grid;
  gap: 1rem;

  a {
    text-decoration: none;
  }

  li,
  a {
    color: var(--clr-text-secondary);
    cursor: pointer;
  }
}

.footerBottom {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.socials {
  display: flex;
  align-items: center;
  gap: 1.75rem;

  li {
    cursor: pointer;
  }
}

.paymentMethods {
  display: flex;
  align-items: center;
  gap: 1.25rem;

  > span {
    color: var(--clr-text-secondary);
  }

  > ul {
    transform: translateY(2px);
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
}

.legal {
  display: flex;
  align-items: center;
  gap: 1.25rem;

  li {
    cursor: pointer;
    font-size: 0.875rem;
    color: var(--clr-text-secondary);
  }
}

@media (min-width: 992px) {
  .logo {
    width: 10.5rem;
  }

  .footer {
    padding-top: 3rem;
  }

  .footerTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footerNav {
    display: flex;
    gap: 1.25rem;
  }

  .socials {
    width: 10.5rem;
    justify-content: end;
  }
}
