.dropdown {
  position: absolute;
  right: 1rem;
  top: 3.3rem;
  display: grid;
  gap: 0.5rem;
  justify-items: end;
}

.triggerBtn {
  display: flex;
  align-items: center;
  text-transform: none;
  font-weight: 600;
  gap: 0.25rem;
  color: var(--clr-text-primary);
  transition: color 0.2s ease;

  &:hover {
    color: var(--clr-accent-pink);

    .icon {
      fill: var(--clr-accent-pink);
    }
  }
}

.icon {
  fill: var(--clr-text-primary);
  width: 1.5rem;
  height: 1.5rem;
  transition:
    fill 0.2s ease,
    transform 0.2s ease;
}

.menu {
  padding: 1.25rem;
  background-color: #ebebeb;
  box-shadow: 0 0 13px 2px rgba(0, 0, 0, 0.15);
  border-radius: 0.375rem;
  width: 13rem;
}

.label {
  color: var(--clr-text-secondary);
  margin-bottom: 1.25rem;
}

.list {
  display: grid;
  gap: 1.25rem;
  text-transform: none;
}

.option {
  background: transparent;
  text-transform: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  transition: color 200ms ease;

  svg {
    fill: var(--clr-text-primary);
    width: 1rem;
    height: 1rem;
    transform: translateY(-3px);
  }
}

@media (min-width: 992px) {
  .dropdown {
    top: 0.5rem;
    right: 0;
  }

  .triggerBtn {
    font-size: 1.125rem;
  }

  .option:hover {
    color: var(--clr-text-secondary);
  }
}