.priceRow,
.stock,
.stock > span {
  display: flex;
  align-items: center;
}

.priceRow {
  gap: 2.75rem;
  margin-bottom: 2rem;
}

.price {
  font-size: 2rem;
  font-weight: 600;
}

.stock {
  color: hsla(104, 74%, 30%, 1);
  font-weight: 600;
  gap: 0.5rem;

  svg {
    transform: translateY(-2px);
  }
}

@media (min-width: 992px) {
  .priceRow {
    margin-bottom: 2.5rem;
  }

  .price {
    font-size: 2.6rem;
    font-weight: 600;
  }
}
