:root {
  /* Colors */
  --clr-text-primary: hsla(0, 0%, 10%, 1);
  --clr-text-secondary: hsla(0, 0%, 10%, 0.6);
  --clr-divider: hsla(0, 0%, 80%, 1);
  --clr-accent-pink: hsla(300, 92%, 63%, 1);
  --clr-bg-primary: hsla(0, 0%, 95%, 1);
  --clr-bg-navbar: hsla(0, 0%, 100%, 1);
  --clr-bg-btn-primary: hsla(0, 0%, 10%, 1);
  --clr-bg-btn-disabled: hsla(0, 0%, 10%, 0.6);
  --clr-text-inversed: hsla(0, 0%, 95%, 1);
  --clr-text-disabled: hsla(0, 0%, 80%, 1);

  /* Easings */
  --ease-out: cubic-bezier(.215, .61, .355, 1);
}

@font-face {
  font-family: "Suisse Int'l";
  src:
    url('/fonts/SuisseIntl-Light.woff2') format('woff2'),
    url('/fonts/SuisseIntl-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Int'l";
  src:
    url('/fonts/SuisseIntl.woff2') format('woff2'),
    url('/fonts/SuisseIntl.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Suisse Int'l";
  src:
    url('/fonts/SuisseIntl-SemiBold.woff2') format('woff2'),
    url('/fonts/SuisseIntl-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul {
  list-style: none;
}

body {
  font-family: "Suisse Int'l", sans-serif;
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-size-adjust: 0.52;
  background-color: var(--clr-bg-primary);
  margin: 0;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

button,
ul,
ol {
  padding: 0;
  margin: 0;
  color: var(--clr-text-primary);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
  color: var(--clr-text-primary);
}

img,
picture {
  max-width: 100%;
  display: block;
}

button {
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  color: var(--clr-text-primary);
}

.container {
  padding: 0 1rem;
}

:target {
  scroll-margin-block: 5ex;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

@media (min-width: 992px) {
  .container {
    padding: 0;
    max-width: 1360px;
    margin-inline: auto;
  }
}
